<nav class="navbar navbar-light" style="background-color: #4bb4ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/favicon.ico" alt="" width="20" height="20" class="d-inline-block"> <span style="font-size: 14px;"> ModbusFront </span>
        </a>

        <button mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon> Ustawienia </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onMpptSettingsClick()"> <mat-icon>app_settings_alt</mat-icon> Ustawienia MPPT </button>
          <button mat-menu-item (click)="onSettingsClick()"> <mat-icon>settings</mat-icon> Ustawienia panelu </button>
        </mat-menu>
    </div>
</nav>