<!-- <mat-card mat-card-title>

    <mat-card-title>Overals: </mat-card-title>
    <mat-card-subtitle>Total consumed and generated energy</mat-card-subtitle>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <span class="totals">Energy generated today: {{lastElement.genTotalToday}} kWh </span>
                <span class="totals">Energy generated this month: {{lastElement.genTotalMonth}} kWh </span>
                <span class="totals">Energy generated this year: {{lastElement.genTotalYear}} kWh </span>
                <span class="totals">Energy generated all time: {{lastElement.genTotalAll}} kWh </span>
            </div>
            <div class="col">
                <span class="totals">Energy consumed today: {{lastElement.consTotalToday}} kWh </span>
                <span class="totals">Energy consumed this month: {{lastElement.consTotalMonth}} kWh </span>
                <span class="totals">Energy consumed this year: {{lastElement.consTotalYear}} kWh </span>
                <span class="totals">Energy consumed this all time: {{lastElement.consTotalAll}} kWh </span>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->
