<div class="container-fluid">

    <div class="row">

        <div class="col">
            <div class="col">
                <div *ngFor="let item of dataService.dataModel">
                    <p> modbusID: {{item.modbusID}} </p>
                    <p> pvVoltage: {{item.pvVoltage}} </p>
                    <p> espTemperature: {{item.espTemperature}} </p>
                    <p> espPressure: {{item.espPressure}} </p>
                </div>
            </div>
            <button class="btn btn-primary" (click)="buttonGET()">
                TestButton
            </button>
        </div>

        <div class="col">
            
        </div>

    </div>
</div>