<div class="row">

    <div class="col">
        <mat-card class="example-card">
            <mat-card-title>PV Stats</mat-card-title>
            <mat-card-subtitle>Data from pv string</mat-card-subtitle>
            <mat-card-content>
                <mat-selection-list [multiple]="false">
                    <mat-list-option>
                        PV Voltage: {{liveData.pvVoltage}} V
                    </mat-list-option>
                    <mat-list-option>
                        PV Current: {{liveData.pvCurrent}} A
                    </mat-list-option>
                    <mat-list-option>
                        PV Power: {{liveData.pvPower}} W
                    </mat-list-option>
                    <mat-list-option>
                        PV Status: {{liveData.pvStatus}}
                    </mat-list-option>
                    <mat-list-option>
                        Last sync: {{liveData.recordTime | date:'d/M/yyyy, hh:mm'}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col">
        <mat-card class="example-card">
            <mat-card-title>Battery Stats</mat-card-title>
            <mat-card-subtitle>Data from battery</mat-card-subtitle>
            <mat-card-content>
                <mat-selection-list [multiple]="false">
                    <mat-list-option>
                        Battery voltage: {{liveData.batVoltage}} V
                    </mat-list-option>
                    <mat-list-option>
                        Battery charging current: {{liveData.batChargingCurrent}} A
                    </mat-list-option>
                    <mat-list-option>
                        Battery charging power: {{liveData.batChargingPower}} W
                    </mat-list-option>
                    <mat-list-option>
                        Battery discharging current: {{liveData.batDischargeCurrent}} A
                    </mat-list-option>
                    <mat-list-option>
                        Battery overal current: {{liveData.batOverallCurrent}} A
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col">
        <mat-card class="example-card">
            <mat-card-title>Battery Stats</mat-card-title>
            <mat-card-subtitle>Data from battery</mat-card-subtitle>
            <mat-card-content>
                <mat-selection-list [multiple]="false">
                    <mat-list-option>
                        Battery remaining [SOC] : {{liveData.batRemainingPercent}} %
                    </mat-list-option>
                    <mat-list-option>
                        Battery temperature: {{liveData.batTemperature}} ºC
                    </mat-list-option>
                    <mat-list-option>
                        Battery status: {{liveData.batStatus}}
                    </mat-list-option>
                    <mat-list-option>
                        Battery charging status: {{liveData.batChargingStatus}}
                    </mat-list-option>
                    <mat-list-option>
                        Battery discharging status: {{liveData.batDischargingStatus}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col">
        <mat-card class="example-card">
            <mat-card-title>Load Stats</mat-card-title>
            <mat-card-subtitle>Stats on your output</mat-card-subtitle>
            <mat-card-content>
                <mat-selection-list [multiple]="false">
                    <mat-list-option>
                        Load voltage: {{liveData.loadVoltage}} V
                    </mat-list-option>
                    <mat-list-option>
                        Load current: {{liveData.loadCurrent}} A
                    </mat-list-option>
                    <mat-list-option>
                        Load power: {{liveData.loadPower}} W
                    </mat-list-option>
                    <mat-list-option>
                        Load status: {{liveData.loadStatus}}
                    </mat-list-option>
                    <mat-list-option>
                        MPPT temperature: {{liveData.mpptTemperature}} ºC
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>