@media only screen and (max-width: 450px) {
  .mat-list-base .mat-list-option {
    font-size: 9px!important;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 15px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .mat-list-base .mat-list-option {
    font-size: 10px!important;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1160px) {
  .mat-list-base .mat-list-option {
    font-size: 10px!important;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 16px;
  }
}
@media only screen and (min-width: 1161px) {
  .mat-list-base .mat-list-option {
    font-size: 14px!important;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 22px;
  }
}

.example-card {
    margin-top: 6px;
    margin-bottom: 6px;
    min-width: 210px;
}

.mat-card-title{
  font-size: 14px;
}

.mat-card-subtitle{
  font-size: 10px;
  margin-bottom: 2px;
}

.mat-list-item-content .mat-list-item-content-reverse{
  padding: 0 2px!important;
}  

.mat-list-base .mat-list-item .mat-list-item-content{
  padding: 0 2px!important;
}

.mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse{
  padding: 0 2px!important;
}
.mat-card-content .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding: 0 2px!important;
}